.newsBox128 {
	> :first-child {
		float: left;
		margin-right: 16px;
		margin-bottom: 16px;
	}

	> .newsText {
		text-align: justify;
	}

	> .newsTeaser {
		text-align: justify;
	}
}

.fullScreenPicture {
	background-size: cover;
	background-position: center center;
	height: 300px;
	text-align: center;
	flex: 1 1 100%;
	position: relative;

	.headerInner {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 10px 5px 15px 5px;
		background: rgba(0, 0, 0, 0.5);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		transition: all 0.5s ease;
		color: #ffffff;

		&:hover {
			background: rgba(0, 0, 0, 0.7);
		}

		.messageHeader {
			color: #ffffff;
			align-items: center;

			h3 {
				font-size: 2rem;
				font-weight: 400;
				color: #ffffff;

				> a {
					color: #ffffff;
				}
			}
		}

		.icon, .icon::before, .icon::after {
			color: #ffffff;
		}

		.messageHeaderBox {
			justify-content: center;

			.contentHeaderMetaData > li, .contentHeaderMetaData > li a {
				color: #ffffff;
			}
		}
	}
}

.jsNews {
	.messageContent {
		display: block;
	}

	.messageHeader {
		flex-wrap: wrap;
		flex-direction: column;

		h3 {
			flex: 1 1 100%;
		}
	}
}

.smallPicture + .messageBody, .fullScreenPicture + .messageBody {
	margin-top: 20px;
}

.newsContent {
	.newsLikeButtons {
		justify-content: flex-end;
	}
}

a.newsReadMore {
	font-style: italic;
	color: $wcfContentDimmedText;
	display: inline-block;
	margin-top: 10px;

	&::after {
		content: "…";
		color: $wcfContentDimmedText;
	}
}
