# Composer
composer.phar
composer.lock
vendor/

# Eclipse
.settings/
.buildpath
.classpath
.project

*.bat

# Community Framework
# Ignore packages build directly in the workspace. They can however be added manually via git add, if wanted.
*.tar
*.tar.gz