.newsBox128 {
	> :first-child {
		float: left;
		margin-right: 16px;
		margin-bottom: 16px;
	}

	> .newsText {
		text-align: justify;
	}

	> .newsTeaser {
		text-align: justify;
	}
}

article.message > div > section.messageContent > div > div.fullScreenPicture {
	background-size: cover;
	background-position: center center;
	height: 300px;
	text-align: center;
	position: relative;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

	> header.messageHeader {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding-bottom: 20px;
		background: rgba(0, 0, 0, 0.3);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		transition: all 0.5s ease;

		&:hover {
			background: rgba(0, 0, 0, 0.5);
		}

		> div.messageHeadline {
			> p {
				color: #ffffff;
				font-size: 1rem;

				> a, > span > a {
					color: #ffffff;
				}
			}

			> h1 {
				font-size: 2rem;
				font-weight: 400;

				> a {
					color: #ffffff;
				}
			}
		}
	}
}

.articleContent {
	.newsLikeButtons {
		justify-content: flex-end;
	}
}
